{% extends "template.html" %}

{% block content %}

<h4>Welcome to Quartz {{ version }}</h4>

<h5>Description</h5>

<p>The <strong>Quartz</strong> platform is for event tracking, analysis
and visualization.</p>

<h5>Thanks</h5>

Technologies used:

<ul>
    <li>Bootstrap3</li>
    <li>JQuery</li>
    <li>D3.js</li>
    <li>C3.js</li>
    <li>JQuery DataTables</li>
    <li>Simple Sidebar <a href="https://github.com/BlackrockDigital/startbootstrap-simple-sidebar">
        https://github.com/BlackrockDigital/startbootstrap-simple-sidebar</a>
    </li>
</ul>
<ul>
    <li>Python 3.4+</li>
    <li>Gemstone library</li>
</ul>

{% end %}