projects.html{% extends "template.html" %}


{% block "content" %}

<h2>About Quartz</h2>

<strong>Quartz</strong> is a platform for collecting events from various sources
which offers a suite of tools to filter and visualize them. Check out the
<a href="#">documentation</a> for more information.

<h4>Technologies used</h4>

<strong>Backend</strong>
<ul>
    <li>Python 3.5+</li>
    <li>MongoDB</li>
</ul>

<strong>Frontend</strong>
<ul>
    <li>Bootstrap3</li>
    <li>Paper theme (from <a href="https://bootswatch.com/paper/">bootswatch</a>)</li>
    <li>jQuery</li>
    <li>jQuery Datatables</li>
    <li>d3js and c3js</li>
</ul>

{% end %}

