{% extends "template.html" %}


{% block "content" %}

<h3>Status</h3>

<div class="card card-mini">
    <div class="card-header">
        <strong>"project" collection</strong>
    </div>
    <div class="card-body">
        <p>Data size: {{project_size}}</p>
        <p>Index size: {{project_index_size}}</p>
    </div>
</div>
<hr>
<div class="card card-mini">
    <div class="card-header">
        <strong>"event_category" collection</strong>
    </div>
    <div class="card-body">
        <p>Data size: {{category_size}}</p>
        <p>Index size: {{category_index_size}}</p>
    </div>
</div>
<hr>
<div class="card card-mini">
    <div class="card-header">
        <strong>"event" collection</strong>
    </div>
    <div class="card-body">
        <p>Data size: {{event_size}}</p>
        <p>Index size: {{event_index_size}}</p>
        <p>Item count: {{event_count}}</p>
        <p>Average item size: {{event_avg_size}}</p>
    </div>
</div>


{% end %}

