projects.html{% extends "template.html" %}


{% block "content" %}

<h2>About Eventer</h2>

<strong>Eventer</strong> is a platform for collecting events from various sources
which offers a suite of tools to filter and visualize them. Check out the
<a href="#">documentation</a> for more information.

<h4>Technologies used</h4>

<strong>Backend</strong>
<ul>
    <li>Python 3.4+</li>
    <li>MongoDB</li>
</ul>

<strong>Frontend</strong>
<ul>
    <li>Bootstrap3</li>
    <li>Simplex theme (from <a href="https://bootswatch.com/simplex/">bootswatch</a>)</li>
    <li>jQuery</li>
    <li>jQuery Datatables</li>
    <li>d3js</li>
</ul>

{% end %}

