{% extends "template.html" %}


{% block "content" %}

<h3>Dashboard</h3>

<!--Item counts-->
<div class="row">
    <!--Projects-->
    <div class="col-lg-4">
        <a class="card card-banner card-green-light">
            <div class="card-body">
                <i class="icon fa fa-cogs fa-4x"></i>
                <div class="content">
                    <div class="title">Projects</div>
                    <div class="value">{{ project_count }}</div>
                </div>
            </div>
        </a>
    </div>

    <!--Event types-->
    <div class="col-lg-4">
        <a class="card card-banner card-green-light">
            <div class="card-body">
                <i class="icon fa fa-th-list fa-4x"></i>
                <div class="content">
                    <div class="title">Event types</div>
                    <div class="value">{{event_category_count}}</div>
                </div>
            </div>
        </a>
    </div>

    <!--Projects-->
    <div class="col-lg-4">
        <a class="card card-banner card-green-light">
            <div class="card-body">
                <i class="icon fa fa-envelope-o fa-4x"></i>
                <div class="content">
                    <div class="title">Events</div>
                    <div class="value">{{event_count}}</div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="card" style="margin-top: 2.5%">
    <div class="card-body">
        <div class="row">
                <h4>Most active projects</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Project name</th>
                        <th>Events (last hour)</th>
                        <th>Events (last 24h)</th>
                        <th>Events (last week)</th>
                        <th>Total event count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                    <tr>
                        <th>{{ project.name }}</th>
                        <td>{{ project.event_count(hours=1) }}</td>
                        <td>{{ project.event_count(hours=24) }}</td>
                        <td>{{ project.event_count(hours=168) }}</td>
                        <td>{{ project.event_count() }}</td>
                    </tr>
                    {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% end %}

