projects.html{% extends "template.html" %}


{% block "content" %}

<h3>Plots</h3>

<p>Check the documentation of plots to see what parameters are important</p>

<h5>Plot options</h5>

<div class="radio">
    <label>
        <input type="radio" name="plot-type" checked> Line graph (values are required to be numbers)
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="plot-type"> Pie chart (no value restrictions)
    </label>
</div>

<hr>

<div class="row">
    <h4>Saved queries</h4>
    <ul id="saved-queries">

    </ul>
</div>

<div class="row">
    <h4>Current queries</h4>
    <ul id="current-queries">
    </ul>
</div>


<div class="row">
    <button class="btn btn-primary" onclick="triggerVisualizeData();" id="submit-btn">Visualize data</button>
</div>

<div class="row">
    <div id="chart"></div>
</div>


<script>
    function toggleSavedQueries() {
        var queriesStr = window.localStorage.getItem("saved_queries");
        var queries = [];
        if (queriesStr == null || queriesStr == undefined) {
            queries = []
        }
        else {
            queries = JSON.parse(queriesStr);
        }
        for (var i in queries) {
            $("#saved-queries").append($("<li data-query-id=" + i + "><code class='query'>" + queries[i] +
                    "</code> by field <input type='text' class='field'>" +
                    "<a onclick='addQuery(" + i + ")'><span class='btn btn-primary btn-xs'>Add</span></a></li>"))
        }
    }
    toggleSavedQueries();
    var globalCurrentQueries = 0;

    function addQuery(index) {
        var query = $("li[data-query-id='" + index + "'] .query").text();
        var fieldElement = $("li[data-query-id='" + index + "'] .field");
        var field = fieldElement.val();
        $("#current-queries").append($('<li data-query="' + encodeURIComponent(query) + '" data-field="' + field +
                '" data-id="' + globalCurrentQueries + '"><code>' + query + '</code> by field <code>' + field + '</code> <a \
                onclick="removeCurrentQuery(' + globalCurrentQueries + ')" title="Remove"><i class="glyphicon glyphicon-remove"></i></a></li>'));
        globalCurrentQueries++;
        fieldElement.val("");
    }

    function removeCurrentQuery(i) {
        $("#current-queries li[data-id='" + i + "']").detach();
    }

    var currentQueryId = 2;

    var timestampRegex = /(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/;

    var timestampStringToDate = function (timestamp) {
        var items = timestampRegex.exec(timestamp);
        return new Date(items[1], items[2], items[3], items[4], items[5], items[6]);
    };


    function showLoading() {
        $("#submit-btn").attr("disabled", true);
    }

    function hideLoading() {
        $("#submit-btn").attr("disabled", false);
    }


    var triggerVisualizeData = function () {

        showLoading();

        setTimeout(hideLoading, 2000);
    };

    timestampStringToDate("2016-12-20 17:33:19");
    timestampStringToDate("2016-12-20 17:33:22");


    var chart = c3.generate({
        bindTo: "#chart",
        data: {
            columns: [
                ['query1.count', 10, 20, 10, 0, 10, 22, 13, 22],
                ['query2.count', 10, 0, 10, 22, 13, 21, 0, 33],
                ['query3.count', 4, 0, 4, 33, 14, 21, 3, 11],
                ['query4.count', 1, 5, 8, 10, 11, 33, 34, 7]
            ],
            type: 'spline'
        }
    });


</script>

{% end %}

