{% extends "template.html" %}


{% block "content" %}

<h3>Projects</h3>

<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-success">Create</button>
        </div>
        <div class="card-body no-padding">
            <table class="datatable table table-striped primary" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th>Event count</th>
                    <th>Last event</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.owner }}</td>
                    <td>{{ project.event_count() }}</td>
                    <td>{{ project.last_event_humanized() }}</td>
                    <td>
                        <button class="btn btn-info btn-xs">View</button>
                    </td>
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

</script>

{% end %}

