{% extends "template.html" %}


{% block "content" %}

<h3>Status</h3>

<!--Performance counters-->
<div class="row">


    <div class="col-lg-6">
        <h3 align="center">CPU Usage in the last 7 days</h3>
        <div id="cpu_usage" style="height: 250px"></div>

    </div>

    <div class="col-lg-6">
        <h3 align="center">RAM Usage in the last 7 days</h3>
        <div id="ram_usage" style="height: 250px"></div>

    </div>


</div>

<div class="row">


    <div class="col-lg-6">
        <h3 align="center">Request count in the last 7 days</h3>
        <div id="req_count" style="height: 250px"></div>

    </div>

    <div class="col-lg-6">
        <h3 align="center">Average response time in the last 7 days</h3>
        <div id="avg_response_time" style="height: 250px"></div>

    </div>


</div>


<script>
    $(document).ready(function () {
        Morris.Line({
            element: 'cpu_usage',
            ymax: 100,
            ymin: 0,
            pointSize: 0,
            data: [
                {y: '2006', a: 10},
                {y: '2007', a: 7.5},
                {y: '2008', a: 5.0},
                {y: '2009', a: 7.5},
                {y: '2010', a: 5.0},
                {y: '2011', a: 7.5},
                {y: '2012', a: 10}
            ],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['CPU Usage'],
            lineColors: ["#2ecc71"]
        });

        Morris.Line({
            element: 'ram_usage',
            ymax: 100,
            ymin: 0,
            pointSize: 0,
            data: [
                {y: '2006', a: 10},
                {y: '2007', a: 7.5},
                {y: '2008', a: 5.0},
                {y: '2009', a: 7.5},
                {y: '2010', a: 5.0},
                {y: '2011', a: 7.5},
                {y: '2012', a: 10}
            ],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['RAM Usage'],
            lineColors: ["#2ecc71"]
        });

        Morris.Line({
            element: 'req_count',
            ymax: 100,
            ymin: 0,
            pointSize: 0,
            data: [
                {y: '2006', a: 10},
                {y: '2007', a: 7.5},
                {y: '2008', a: 5.0},
                {y: '2009', a: 7.5},
                {y: '2010', a: 5.0},
                {y: '2011', a: 7.5},
                {y: '2012', a: 10}
            ],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Requests'],
            lineColors: ["#2ecc71"]
        });

        Morris.Line({
            element: 'avg_response_time',
            ymax: 100,
            ymin: 0,
            pointSize: 0,
            data: [
                {y: '2006', a: 10},
                {y: '2007', a: 7.5},
                {y: '2008', a: 5.0},
                {y: '2009', a: 7.5},
                {y: '2010', a: 5.0},
                {y: '2011', a: 7.5},
                {y: '2012', a: 10}
            ],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Response time (ms)'],
            lineColors: ["#2ecc71"]
        });
    })
</script>

{% end %}

