<!DOCTYPE html>
<html>
<head>
    <title>Eventer {{version}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/static/css/flat-admin.css">

    <script src="/static/js/pymicroservice.js"></script>

    {% if require_morris or require_datatable %}
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    {% end %}

    {% if require_morris %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="http:///cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    {% end %}

    {% if require_datatable %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    {% end %}

</head>
<body>
<div class="app app-default">

    <aside class="app-sidebar" id="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-brand" href="/dashboard"><span class="highlight">Eventer</span> {{version}}</a>
        </div>
        <div class="sidebar-menu">
            <ul class="sidebar-nav">
                <li class="active">
                    <a href="/dashboard">
                        <div class="icon">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </div>
                        <div class="title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="/projects">
                        <div class="icon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="title">Projects</div>
                    </a>
                </li>
                <li class="@@menu.events">
                    <a href="/events">
                        <div class="icon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="title">Events</div>
                    </a>
                </li>
                <li class="@@menu.events">
                    <a href="/status">
                        <div class="icon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="title">Status</div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <div class="app-container">

        <div class="btn-floating" id="help-actions">
            <div class="btn-bg"></div>
            <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
                <i class="icon fa fa-plus"></i>
                <span class="help-text">Shortcut</span>
            </button>
            <div class="toggle-content">
                <ul class="actions">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Issues</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>

        <div class="container">

            {% block "content" %}
            {% end %}

        </div>

        <footer class="app-footer">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-copyright">
                        Copyright © 2016 - Eventer
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<script type="text/javascript" src="/static/js/vendor.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>

</body>
</html>