{% extends "template.html" %}


{% block "content" %}


    {% if current_user %}

        <h3>Hello {{current_user.first_name}} {{current_user.last_name}}</h3>

    {% end %}

<h4>Welcome to Eventer.</h4>

<table class="table table-bordered">
    <tr>
        <td>Unique API token</td>
        <td>{{ current_user.api_token }}</td>
        <td><button class="btn btn-primary">Renew</button></td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{ current_user.username }}</td>
        <td><button class="btn btn-default">Edit</button></td>
    </tr>
    <tr>
        <td>First name</td>
        <td>{{ current_user.first_name }}</td>
        <td><button class="btn btn-default">Edit</button></td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>{{ current_user.last_name }}</td>
        <td><button class="btn btn-default">Edit</button></td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ current_user.email }}</td>
        <td><button class="btn btn-default">Edit</button></td>
    </tr>
    <tr>
        <td>Date joined</td>
        <td>{{ current_user.date_joined }}</td>
{#        <td><button class="btn btn-default">Edit</button></td>#}
    </tr>
    <tr>
        <td>Password</td>
        <td>******</td>
        <td><button class="btn btn-default">Edit</button></td>
    </tr>
</table>

<p>Categories: {{ current_user.count_categories() }}</p>
<p>Registered events: {{ current_user.count_events() }}</p>

{% end %}