<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventer</title>
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>


<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Eventer</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/doc">Documentation</a></li>

                    {% if user_is_authenticated %}

                        <li><a href="/logout">Logout</a></li>

                        <li class="divider-vertical"></li>

                        <li><a href="/categories">Event categories</a></li>
                        <li><a href="/events">Registered events</a></li>
                        <li><a href="/projects">Projects</a></li>

                    {% else %}

                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>

                    {% end %}
                </ul>
            </div>
        </div>
    </nav>

    {% block "content" %}
    adadas
    {% end %}
</div>


</body>
</html>